<div id="bb">
  <div class="bbgroup">
    <div class="subgroup left-block">
      <% 2.times do %>
        <%= image_tag("bbleft.png", class: "bblogo") %>
        <%= image_tag("bbright.png", class: "bblogo") %>
      <% end  %>
    </div>
        <div class="subgroup right-block">
      <% 2.times do %>
        <%= image_tag("bbleft.png", class: "bblogo") %>
        <%= image_tag("bbright.png", class: "bblogo") %>
      <% end  %>
    </div>
        <div class="subgroup left-block">
      <% 2.times do %>
        <%= image_tag("bbleft.png", class: "bblogo") %>
        <%= image_tag("bbright.png", class: "bblogo") %>
      <% end  %>
    </div>
        <div class="subgroup right-block">
      <% 2.times do %>
        <%= image_tag("bbleft.png", class: "bblogo") %>
        <%= image_tag("bbright.png", class: "bblogo") %>
      <% end  %>
    </div>
  </div>
</div>
